@import "~antd/dist/antd.css";

.site-layout {
  min-height: calc(100vh);
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.logo {
  float: left;
  height: 31px;
  margin: 0 24px 16px 0;
}

.logo h1 {
  color: #fff;
}
